.paging {
  width: 800px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  
}

span {
  list-style: none;
  font-family: "Helvetica"; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  line-height: 20px; 
  margin: 5px;
}